<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Viewers Dashboard</title>
</head>
<body>
  <h1>Viewer's Dashboard</h1>
  <p>Welcome to the viewers dashboard</p>

  <p>Hello, <%= username %>!</p>
</body>
</html>